// Layout

$mobile: 375px;
$desktop: 1440px;

// ## Colors

// ### Primary

$darkCyan: hsl(185, 75%, 39%);
$vdarkBlue: hsl(229, 23%, 23%);
$darkBlue: hsl(227, 10%, 46%);

// ### Neutral

$darkGray: hsl(0, 0%, 59%);
